In [23]:
## 1.Problem 1: Unique Words in a Sentence
sentence=input("Enter the  sentence :")
words=sentence.split()
unique_words = set(words)
print("Unique words count:",len(unique_words))
print("Unique words:",unique_words)

Enter the  sentence :Unique words count
Unique words count: 3
Unique words: {'count', 'Unique', 'words'}

In [24]:
## 2.Highest Salary from Employee Data
employees = {
    "kannika":85000,
    "Anki":69000,
    "kruthik":71000
}
max_employee = max(employees, key=employees.get)
highest_salary = employees[max_employee]
print(f"Highest Salary: {max_employee} - {highest_salary}")

Highest Salary: kannika - 85000

In [25]:
## 3.Find Maximum and Minimum Values
numbers=[80, 66, 90, 10, 77]
max_val=numbers[0]
min_val=numbers[0]
for num in numbers:
    if num > max_val:
        max_val=num
    if num < min_val:
        min_val=num
print(f"List:{numbers}")
print(f"Max:{max_val}")
print(f"Min:{min_val}")

List:[80, 66, 90, 10, 77]
Max:90
Min:10

In [26]:
## 4 Count products priced above 1000
prices=[450, 1200, 899, 1500, 300]
count=0
for price in prices:
    if price>1000:
        count+=1
print("Products above 1000:", count)

Products above 1000: 2

In [27]:
## 5.Calculate Attendance Percentage
attendance=["P", "P", "A", "P", "P"]
present_count=attendance.count("P")
percentage=(present_count / len(attendance)) * 100
print(f"Attendance Percentage: {percentage}")

Attendance Percentage: 80.0

In [28]:
## 6.Remove Duplicate Phone Numbers
phone_numbers=[9876543210, 9123456789, 9876543210]
unique_numbers=set(phone_numbers)
print(f"Unique phone numbers: {unique_numbers}")

Unique phone numbers: {9876543210, 9123456789}

In [29]:
## 7.Count Character Frequency
word="pythonp"
frequency={}
for char in word:
    frequency[char]=frequency.get(char, 0) + 1
print(frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [30]:
## 8.Convert List to Tuple
my_list=[10, 20, 30]
my_tuple=tuple(my_list)
print(f"Tuple: {my_tuple}")

Tuple: (10, 20, 30)

In [31]:
## 9.Check if a Key Exists in a Dictionary
employees={"Ravi": 75000, "Anita": 68000}
search_key="Ravi"
if search_key in employees:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

In [32]:
## 10. Calculate Average Marks
marks=[80, 70, 65, 75]
average = sum(marks) / len(marks)
print(f"Average Marks: {average}")

Average Marks: 72.5